.calendarbox { margin:0px auto; font-size:11px; width:16em; text-align:center; background:red; position:relative; -moz-box-shadow: 0 5px 7px 0 #999;
-webkit-box-shadow: 0 5px 7px 0 #999;}
.calendar { margin:0; padding: 0; }
/*panel that holds calendar table and row with yesterday, today, and tomorrow*/
.calendar table { margin:0; padding:0; border-collapse:collapse; background:#F5F5F5; width:100%; }

/*table in the calendar, we want it to be solid grey, no borders*/
.calendar td { font-size:13px; text-align: center; padding: 0; border-top:0px solid #eee; border-bottom:none; color:gray;}

.calendar td.selected a { background: #87CEEB; }

/*background of cells, i.e.total fill color*/
.calendar-day-cell, .calendar-blank-cell { background:#F5F5F5; }
.calendar-cell-today { background:#87CEEB; }
.calendar-today-link { display: block; font-size: 10px; font-weight:bold; padding:0px; text-decoration: none; color:#444; }
.calendar-img { border: 0; }

.calendar td.calendar-day-cell:hover, .calendar-today-link a:hover { background: #4682B4; color:white; }
.calendar td.today:hover, .calendar-today-link a:hover , div a:hover { background: #5b80b2; color:white; }
div.calendar-top-panel a:hover { background: #5b80b2; color:white; }
.calendar td:active, .calendar-today-link a:active { background: #036; color:white; }

.calendar .calendar-shortcuts { font-weight: bold; font-size:14px; }
.calendar .calendar-top-panel { font-weight: bold; font-size:14px;}
.calendar .calendar-center { font-weight: bold; font-size:14px; color:#000;}

/*cancel button row*/
.calendar-cancel { margin:0 !important; padding:0; font-size:12px; font-weight: bold; background:#DCDCDC; color:white;  border-top:0px solid blue; }
.calendar-cancel a:hover  { background:#DCDCDC; color:#FF4500; }

/*.calendar-module { margin:0; padding:2px 5px 3px 5px; font-size:11px; text-align:left; font-weight:bold; background:red; color:#fff; }*/
.calendar-module { margin:0; padding:0px 0px 0px 0px; font-size:11px; text-align:left; font-weight:normal; background:red; color:#fff; }

.calendar td.calendar-header { margin: 0; background:#DCDCDC; font-weight: bold; font-size:14px; text-align:center; border-top:0px solid #ddd; border-bottom:0px solid #ddd }