
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Serge Boyko">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <title>Impediments board</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/docs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <a class="sr-only" href="#content">Skip navigation</a>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Reports</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/form">Report Form</a></li>
              <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Boards and Reports<b class="caret"></b></a>
		<ul class="dropdown-menu">
		  {% if user and user.is_authenticated()%}
		  <li><a href="/report">Current report</a></li>
		  <li><a href="/impediments">Impediments board</a></li>
		  <li><a href="/submission">Submission status</a></li>
		  <li><a href="/archive">Historic reports</a></li>
		  {% endif %}
		</ul>
	      </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/report">Generate report now</a></li>
                  {% if user and user.is_authenticated() and user.is_admin() %}
                  <li><a href="/projects">Projects editor</a></li>
                  <li><a href="/milestones">Milestones editor</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Users</li>
                  <li><a href="/admin/userview">Users admin</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
            {% if user and user.is_authenticated() %}
            <p class="navbar-text pull-right">Welcome {{ user.email }}</p>  
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- started here -->

      <div class="container" style="padding-top: 0px">
	<div class="page-header">
          <h1 style="font-size: 40px; color: #3D73A4;">Impediments Board</h1>
	</div>
	{%  for project, impediments in data.iteritems() %}
	<h2> {{project}} </h2>
	<hr>
	<!-- Table -->
	<table class="table table-condensed table-striped">
	  <colgroup>
	    <col span="1", style="width: 5%;"> 
	    <col span="1", style="width: 15%;"> 
	    <col span="1", style="width: 40%;">
	    <col span="1", style="width: 10%;">
	    <col span="1", style="width: 10%;">
	    <col span="1", style="width: 10%;">
	    <col span="1", style="width: 10%;">
	  </colgroup>
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Desription</th>
	      <th>Comments</th>
	      <th>Start date</th>
	      <th>End date</th>
	      <th>Duration (d)</th>
	      <th>Status</th>
	    </tr>
	  </thead>
	  <tbody class="table-striped">

	  {% for i in impediments %}
	    <tr>
	      <td>{{loop.index}}</td>
	      <td>{{i.description}}</td>
	      <td>{{i.comment}}</td>
	      <td>{{i.start}}</td>
	      <td>{{i.end}}</td>
	      <td>{{i.duration}}</td>
	      <td><h4><span class="{{i._class}}"> {{i.state}}</span></h4></td>
	    </tr>
	  
	  {% endfor %}
	  </tbody>
	</table>

	{% endfor %}
      </div>
    </div>
    
    <!-- ended here -->
    
    
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Lovingly crafted with <a href="http://python.org">Python</a> and <a href="http://flask.pocoo.org">Flask</a>.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
  </body>
</html>
