<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Report</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Reports</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if user and user.is_authenticated() %}
              <li><a href="/form">Report Form</a></li>
              <li><a href="/report">Current report</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/report">Generate report now</a></li>
                  {% if user.is_admin() %}
                  <li><a href="/projects">Proejcts editor</a></li>
                  <li><a href="/milestones">Milestones editor</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Users</li>
                  <li><a href="/admin/userview">Users admin</a></li>
                  {% endif %}
                </ul>
              </li>
            {% else %}
              <li><a href="{{ url_for('register_view') }}">Register</a></li>
            {% endif %}
          </ul>
          {% if user and user.is_authenticated() %}
          <form class="navbar-form navbar-right" action="{{ url_for('logout_view') }}">
            <div class="form-group">
              <p class="label">Welcome {{ user.email }}</p>  
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger">Logout</button>
            </div>
          </form>
          {% else %}
          <form class="navbar-form navbar-right" method="POST" action="">
            {% if error %}
              <div class="form-group error">
                <p class="label">Error: {{ error }}</span>
              </div>
              <div class="form-group">
                {{ form.email(class_="form-control", placeholder="Email") }}
              </div>
              <div class="form-group">
                {{ form.password(class_="form-control", placeholder="Password") }}
              </div>
            {% else %}
              <div class="form-group">
                {{ form.email(class_="form-control", placeholder="Email") }}
              </div>
              <div class="form-group">
                {{ form.password(class_="form-control", placeholder="Password") }}
              </div>
            {% endif %}
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><img src="/static/img/reports.png" align="bottom" class="img-thumbnail"
        style="width: 120px; height: 120px"> Welcome to Reports</h1>
	
      </div>
    </div>

    <div class="container">
      <h2>Reports is friendly and easy to use reporting engine developed
	for ClusterStor</h2>

      
      <p>Right now the site is under active development. Once the
	development is complete (in a couple of weeks) the
	information on this page will be replaced with something a
	bit more useful.</p>
      <p> The site is being developed using Python and Flask, its
      reporting engine is powered by PytatoBugs. We hope you will enjoy using
	it! </p> 

      <p></p>

      <div  class="alert alert-danger">
      <h3>Warning!</h3>
	<p> Please don't use your Xyratex credentials when registering
	on the site. Current  implementation is insecure and will be replaced
	with OneLogin soon.
      </div>
      <hr>
      <footer>
        <p>&copy; Xyratex 2013</p>
      </footer>
    </div> <!-- /container -->
 </body>

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
 </html>
