
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Serge Boyko">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <title>Neo Status Report</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/docs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <a class="sr-only" href="#content">Skip navigation</a>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Reports</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/form">Report Form</a></li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Boards and Reports<b class="caret"></b></a>
		<ul class="dropdown-menu">
		  {% if user and user.is_authenticated()%}
		  <li><a href="/report">Current report</a></li>
		  <li><a href="/impediments">Impediments board</a></li>
		  <li><a href="/submission">Submission status</a></li>
		  <li><a href="/archive">Historic reports</a></li>
		  <li><a href="/milestones_graphs">Milestones Completions</a></li>
		  {% endif %}
		</ul>
	      </li>              
	      <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/report">Generate report now</a></li>
                  {% if user and user.is_authenticated() and user.is_admin() %}
                  <li><a href="/projects">Projects editor</a></li>
                  <li><a href="/milestones">Milestones editor</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Users</li>
                  <li><a href="/admin/userview">Users admin</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
            {% if user and user.is_authenticated() %}
            <p class="navbar-text pull-right">Welcome {{ user.email }}</p>  
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- started here -->

      <div class="container" style="padding-top: 0px">
	<div class="page-header">
          <h1 style="font-size: 40px; color: #3D73A4;">Neo Status Report</h1>
	  <p class="text-info">Generated on:<em> {{reports[0].created}}</em></p>
	</div> 	
	<div class="row">
	  <div class="col-md-3">
	    <div class="bs-sidebar hidden-print"  data-spy="affix" data-offset-top="100" role="complementary">
              <ul class="nav bs-sidenav">
		{% for report in reports %}
		<li><a href="#{{loop.index}}">{{report.project}}</a></li>
		{% endfor %}	  
              </ul> <!-- end of navigation -->
	    </div>
	  </div>

	  <div class="col-md-9" role="main">
	    <!-- put page content here -->
	    {% for report in reports %}
	    <div class="page-header">
	      <h2>{{ report.project }}</h2>
	    </div>
	    <p class="text-info">Submitted on: <em>{{report.created}}</em>
	      by <em><{{report.author}}></em> </p>
	    <a name="{{loop.index}}"></a>
	    <div class="panel panel-default">
	      <div class="panel-heading">
		<h3 class="panel-title">Status</h3>
	      </div>
	      <div class="panel-body">
		{{report.status}}
	      </div>
	    </div>
	    
	    <div class="panel panel-warning">
              <div class="panel-heading">
		<h2 class="panel-title">Risks</h2>
              </div>
              <div class="panel-body">
		{{report.risks}}
              </div>
	    </div>
	    
	    <div class="panel panel-default">
	      <!-- Default panel contents -->
	      <div class="panel-heading">
		<h3 class="panel-title">Milestones</h3>
	      </div>
	      
	      <div class="panel-body">
		<p>Reported milestones and expected completion dates</p>
	      </div>
	      
	      <!-- Table -->
	      <table class="table table-condensed table-striped">
		<thead>
		  <tr>
		    <th>#</th>
		    <th>Miestone</th>
		    <th>Planned Completion</th>
		    <th>Expected Completion</th>
		  </tr>
		</thead>
		<tbody>
		  
		  {% for m in report.milestones%}
		  <tr class="{{m.tr_class}}">
		    <td>{{loop.index}}</td>
		    <td>{{m.name}}</td>
		    <td>{{m.end_date}}</td>
		    <td>{{m.expected_completion}}</td>
		  </tr>
		</tbody>
		{% endfor %}
	      </table>
	    </div>

	    <div class="panel panel-info">
              <div class="panel-heading">
		<h2 class="panel-title">Impediments</h2>
              </div>
              <div class="panel-body">
		{% for i in report.impediments%}
		<div class="{{i.alert_class}}">
		  <strong>{{i.description}}</strong>
		  <p>State: <em>{{i.state}}</em> Added: <em>{{i.start_date}}</em> Removed: <em>{{i.end_date}}</em></p>
		</div>
		{{i.comment}}
		<br>
		{% endfor %}
              </div>
	    </div>
	    
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>
    
    <!-- ended here -->
    
    
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Lovingly crafted with <a href="http://python.org">Python</a> and <a href="http://flask.pocoo.org">Flask</a>.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
  </body>
</html>
